<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Management</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Teacher Management</h1>
        <div id="menu">
            <button onclick="showAllTeachers()">Show All Teachers</button>
            <button onclick="showAddTeacherForm()">Add a Teacher</button>
            <button onclick="showFilterTeachersForm()">Filter Teachers</button>
            <button onclick="showSearchTeacherForm()">Search for a Teacher</button>
        </div>
        <p>Average classes: <span id="avgCls"></span></p>
        <div id="content"></div>
    </div>
    <script src="/script.js"></script>
    <script>
        fetch('/api/teachers/average/classes')
        .then(response => response.json())
        .then(data => {
            document.getElementById('avgCls').innerHTML = data.averageClasses;
        })
    </script>
</body>
</html>
